
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="CSS/myCSS.css">
    </head>
    <body>
        <center>
        <img src="/views/site_images/TCC_Logo.jpg" alt="img not working">

        <h1>Create Login</h1>
        <form action="/register" method="POST">
        <div>
            <label for="name">Chosen Username:</label>
            <input type="text" id="name" name="name" required>
        </div>
        <br>
            <div>
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" required>
            </div>
            <br>
            <div>
        <label for="password">Strong Password:</label>
        <input type="text" id="password" name="password" required>
            </div>
            <br>
            <section>
                <button type='submit'>Submit Registration</button>
            </section>
            <br>
            <a href="/login">Return to Login</a>
        </form>
        <script src="" async defer></script>
        </center>
    </body>
</html>

